*{
    padding: 0;
    margin: 0;
    
}
body{
    
    background-color: #71C9CE;
    color: black;
}
.text{
    width:500px;
    display: inline-flex;
    justify-content: space-between;
    padding: 25px 25px 25px ;
    
}
.city-input{
    margin-bottom: 10px;
    padding:10px;
    height:5px;
    width:400px ;
}
.submit{
    margin-left:10px;
    padding: 10px;
    height:55px;
}
h4{
    display: inline-flex;
}
.details{
    justify-content: center;
    row-gap: 20px;
    display: inline-block;
    padding: 0 25px 25px 25px;

}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    display:inline-flex;
    background-color: #bef1f1;
    flex-direction: column;
}
